*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 100%;
    height: calc(100vh - 100px);
    background-color: yellow;
}
main{
    height: 100%;
}
.fl{
    float: left;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}


#side-nav{
    width: 200px;
    height: 100%;
    background-color: black;
}
#main-section{
    width: calc(100% - 200px);
    height: 100%;
}
#banner-top{
    height: 100px;
    width: 100%;
    background-color: blue;
}

footer{
    height: 100px;
    width: 100%;
    background-color: red;
}